<!DOCTYPE html>

{% load static %}

<html lang='en'>
    <head>
        <meta charset = 'UTF-8'>
        <title>Django channels webrtc</title>
        <link rel='stylesheet' type ='text/css' href="{% static 'css/main.css' %}">
    </head>

<body>
    <h3 id = 'label-username'>USERNAME</h3>
    <div>
        <input id='username'> <button id='btn-join'>JOIN ROOM</button>
    </div>

    <div class = 'main-grid-container'>
        <div id = 'video-container'>
            <div>
                <div><video id = 'local-video' style = "float: left;" autoplay playsinline></video></div>
                <button id = 'btn-toggle-audio'>Audio mute</button>
                <button id = 'btn-toggle-video'>Video off</button>
            </div>

            <div id = 'chat'>
            <h3>
                CHAT
            </h3>

            <div id ='messages'>
                    <ul id='message-list'></ul>
            </div>

            <div><input id = 'msg'><button id = 'btn-send-msg'>SEND MESSAGE</button></div>
            <button id ='btn-share-screen'>Share screen</button>
            </div>
        </div>
    </div>

    <script type = 'text/javascript' src = "{% static 'js/main.js' %}"></script>
</body>
</html>